
//Färg till bakgrund och text.

$color-background: #FAF3E9;
$color-primary: #084726;
$color-text: #084726;

//Färg kopplad till Status

$status-ej-kontaktad: #C8C8C8;
$status-kontaktad: #F4A96A;
$status-ej-intresserad: #C0392B;
$status-intresserad: #4A7A5A;
$status-infor-order: #7AACD4;
$status-order: #F0C040;
$status-order-uppfoljning: #C8A8E0;